In [1]:
from sklearn.datasets import load_boston

In [2]:
boston = load_boston()

In [3]:
from pprint import pprint

In [4]:
import pandas as pd

In [5]:
bos = pd.DataFrame(boston.data)

In [6]:
bos.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [7]:
bos.columns = boston.feature_names
bos.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [8]:
boston.target

array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
       18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
       15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
       13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
       21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
       35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
       19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
       20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
       23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
       33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
       21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
       20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
       23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
       15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
       17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
       25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
       23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
       32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
       34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
       20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
       26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
       31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
       22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
       42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
       36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
       32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
       20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
       20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
       22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
       21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
       19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
       32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
       18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
       16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
       13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
        7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
       12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
       27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
        8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
        9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
       10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
       15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
       19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
       29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
       20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
       23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9])

In [9]:
bos_price = pd.DataFrame(boston.target)

In [10]:
bos_price.columns = ['Price']

In [11]:
bos_price.head()

   Price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [12]:
Y = bos_price
X = bos

In [13]:
import sklearn
from sklearn.model_selection import train_test_split

In [14]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split?

In [ ]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split

In [15]:
X_Train, X_Test, Y_Train, Y_Test = train_test_split(X, Y, test_size = 0.3, random_state = 0)

In [16]:
X_Train.shape

(354, 13)

In [17]:
bos.shape

(506, 13)

In [18]:
Y_Train.shape

(354, 1)

In [19]:
from sklearn.linear_model import LinearRegression

In [20]:
lr = LinearRegression()
lr.fit(X_Train, Y_Train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [21]:
Y_Pred = lr.predict(X_Test)

In [22]:
Pred_Test = pd.DataFrame(Y_Pred)

In [23]:
Pred_Test['Test'] = pd.DataFrame(Y_Test)

In [24]:
Pred_Test.columns = ['Pred', 'Test']

In [25]:
Y_Pred.shape

(152, 1)

In [26]:
Y_Test.shape

(152, 1)

In [27]:
Y_Pred = pd.DataFrame(Y_Pred)

In [28]:
Y_Test = pd.DataFrame(Y_Test)

In [29]:
Pred_Test = pd.concat([Y_Pred, Y_Test])

In [30]:
Pred_Test

             0  Price
0    24.935708    NaN
1    23.751632    NaN
2    29.326383    NaN
3    11.975346    NaN
4    21.372725    NaN
5    19.191485    NaN
6    20.571748    NaN
7    21.211540    NaN
8    19.045720    NaN
9    20.354632    NaN
10    5.441191    NaN
11   16.936887    NaN
12   17.154823    NaN
13    5.392821    NaN
14   40.202707    NaN
15   32.313273    NaN
16   22.462133    NaN
17   36.501247    NaN
18   31.037370    NaN
19   23.171246    NaN
20   24.748153    NaN
21   24.499394    NaN
22   20.659579    NaN
23   30.454758    NaN
24   22.324872    NaN
25   10.189329    NaN
26   17.442864    NaN
27   18.261031    NaN
28   35.632993    NaN
29   20.819603    NaN
..         ...    ...
49         NaN   19.4
498        NaN   21.2
309        NaN   20.3
124        NaN   18.8
306        NaN   33.4
245        NaN   18.5
59         NaN   19.6
276        NaN   33.2
395        NaN   13.1
416        NaN    7.5
491        NaN   13.6
170        NaN   17.4
419        NaN    8.4
55         NaN   35.4
235        NaN   24.0
142        NaN   13.4
249        NaN   26.2
415        NaN    7.2
378        NaN   13.1
494        NaN   24.5
179        NaN   37.2
52         NaN   25.0
74         NaN   24.1
26         NaN   16.6
200        NaN   32.9
4          NaN   36.2
428        NaN   11.0
385        NaN    7.2
308        NaN   22.8
5          NaN   28.7

[304 rows x 2 columns]

In [31]:
from sklearn.metrics import mean_squared_error

In [32]:
mse = mean_squared_error(Y_Test, Y_Pred)

In [33]:
mse

27.195965766883294

In [34]:
E = pd.DataFrame.dot?

In [ ]:
E = pd.DataFrame.dot

In [35]:
E = X_Train.T.dot(X_Train)

In [36]:
import numpy as np

In [37]:
E_inv = pd.DataFrame(np.linalg.pinv(E.values), E.columns, E.index)

In [38]:
E_P = E_inv.dot(X_Train.T)

In [39]:
Q = E_P.dot(Y_Train)

In [42]:
Y_Pred2 = Q.dot(Y_Train.T)

C:\Users\laksh\Anaconda3\lib\site-packages\pandas\core\frame.py:862: RuntimeWarning: '<' not supported between instances of 'str' and 'int', sort order is undefined for incomparable objects
  common = self.columns.union(other.index)

ValueError: matrices are not aligned

In [ ]:
X_Train.shape

In [ ]:
X_Train.T.shape

In [ ]:
E_inv.shape

In [ ]:
E_P = E_inv.dot(X_Train.T)

In [ ]:
Q = E_P.dot(Y_Train)

In [ ]:
Y_Pred = Q.T.dot(X_Test)

In [ ]:
Q.T.shape

In [ ]:
X_Test.shape

In [ ]:
Q.T.shape

In [ ]:
X_Test.T.shape

In [ ]:
Y_Pred2 = Q.T.dot(X_Test.T)

In [ ]:
Y_Pred2 = Y_Pred2.T

In [ ]:
Y_Pred.to_clipboard()

In [ ]:
Y_Pred2.to_clipboard()

In [ ]:
bos_price.to_clipboard()

In [ ]:
mse = mean_squared_error(Y_Test, Y_Pred2)

In [ ]:
mse

In [ ]:
Y_Pred

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
from matplotlib import rcParams

In [ ]:
import seaborn as sns
sns.set_style("whitegrid")
sns.set_context("poster")

In [ ]:
from pandas.plotting import scatter_matrix

In [ ]:
scatter_matrix(Y_Test)

In [ ]:

plt.scatter(Y_Test, Y_Test, color=['red', 'red'], s = 100.5)

plt.show()